.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
}
.carousel-indicators {
  position: absolute;
  top: 400px;
}
.carousel-indicators [data-bs-target] {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.icon i {
  color: red;
  font-size: 20px;
  padding: 5px;
}
.icon {
  margin-bottom: 10px;
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-control-next-icon {
  background-color: black;
}
